@import "modal";

body {
  background-color: #fff8ba;

}
table {
  border-collapse: separate;
  border:2px solid DodgerBlue;
  width: 85%;
}
th, td {
  border: 1px solid violet;
  font-weight: bold;
  & button{
    background-color: orange;
    font-weight: bold;
  }

}
#add-item {
  background-color: chartreuse;
  font-weight: bold;
  width: 100px;
  height: 100px;
  border-radius: 25px;
}


